{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Criar Post</h1>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Criar</button>
    </form>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name;
</script>
{% else %} 
<h1>Você não tem permissão para utilizar essa pagina!</h1>
{% endif %}

{% endblock %}