{% extends 'base.html' %} 
{% block title %} Trocar Senha {% endblock %}  
{% block content %} 

<h1>Trocar Senha</h1>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %} 
        {{ form.as_p}}
        <button class="btn btn-secondary">Salvar</button>
    </form>

</div>

<li>Sua senha não pode ser muito parecida com outras informações suas.</li>
<li>Sua senha deve conter pelo menos 8 caracteres.</li>
<li>Sua senha não pode ser totalmente numérica </li>
<li>Sua senha não pode ser comum</li>

{% endblock %}